
.logo-img{
    width: 30vh;
}
.logo-sidebar{
   margin:auto;
   width:250px
}
@media screen and (max-width: 400px) {
    .logo-sidebar{
        width:210px
     }
  }

@media screen and (max-width: 360px) {
    .logo-sidebar{
        width:150px
     }
  }
  @media screen and (max-height: 670px) {
    .logo-sidebar{
        width:120px
     }
  }
.sidebar-dessert{
    margin-top:34px !important
}

@media screen and (max-width: 770px) {
    .hBzjcB{
        width: 62% !important;
    }
  }

/* .hBzjcB{
    width: 32% !important;} */
.footer-sidebar{
    margin-top:30px
}
.white{
    color:white;
    margin:auto 0 auto 0;
    display:flex;
    flex:auto;
    margin-left:10px
}
.menu-toggle{
    margin-top:5px
}
.button-landing{
    width:12rem;
    height:5rem;
    margin-left:35px;
    border-radius:50%;
    background-color: black;
    border:white 2px solid;
    font-size:24px;
    color:white;
    font-weight:bold;
    cursor:pointer;
    margin-top:13px
}
.button-container{
   margin-bottom: -130px;
}
.btn-landin{
    min-width:200px; margin:10px 0 0 35px; font-weight: bold !important;
}
.black-insta{
    color:black;
}