
.logo-img{
    width: 30vh;
}
.logo-sidebar{
   margin:auto
}
.sidebar-dessert{
    margin-top:34px !important
}
.white{
    color:white;
    margin:auto 0 auto 0;
}
.menu-toggle{
    margin-top:13px
}